.container {
    display: flex;
}

#renderFiveRandom {
    height: 700px;
    overflow: auto;
}

#renderFiveRandom img {
    width: 250px;
    height: 250px;
}

#cocktailDetails img {
    width: 300px;
    height: 300px;
}

#cocktailDetails {
    padding-left: 100px;
    max-width: 300px
}

#cocktailName {
    text-align: center;
}

