h1 {
    text-align: center;
}

#searchItems {
    padding: 8px;
}

input {
    width: 150px;

}

body {
    background-color: floralwhite;
    font-family: 'Didact Gothic', sans-serif;
    font-size: small;
}


img {
    box-shadow: 6px 7px rgb(139, 139, 186);
    border-radius: 3%;
}

select {
    height: 20px;
    width: 150px;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
}


#regenerateCocktails {
    margin: auto;
}

#buttonDiv {
    padding-bottom: 10px;
    padding-left: 75px;
}

#buttonAndFiveRandom {
    justify-content: center;
}



#renderFiveRandom {
    padding-top: 10px;
    width: 265px;
    height: 650px;
    overflow: auto;
    scroll-padding: 10px;
    background-color: lavender;
    padding-left: 10px;
    border-radius: 20px;
}

#renderFiveRandom p {
    padding-top: 2px;
 }
 

#renderFiveRandom img {
    width: 250px;
    height: 250px;
    padding-top: 5px;
   
}

#cocktailDetails img {
    width: 300px;
    height: 300px;
    box-shadow: 6px 6px rosybrown;
}

#cocktailDetails {
    padding-left: 50px;
    max-width: 300px;
    justify-content: center;
    
}

#cocktailName {
    text-align: center;
}



#language-instructions-container {
    margin-left: 40px;
    width: 275px;
    display: block;
    height: fit-content;
    overflow: hidden;
    background-color: rosybrown;
    padding: 20px;
    border-radius: 20px;
}

#instructionsText {
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

