select {
    height: 20px;
}

#language-instructions-container {
    margin-left: 40px;
    max-width: 300px;
}


#buttonDiv {
    padding-bottom: 10px;
}
.container {
    display: flex;
}

#renderFiveRandom {
    padding-top: 10px;
    height: 650px;
    overflow: auto;
    scroll-padding: 10px;
}

#renderFiveRandom img {
    width: 250px;
    height: 250px;
}

#cocktailDetails img {
    width: 300px;
    height: 300px;
}

#cocktailDetails {
    padding-left: 100px;
    max-width: 300px
}

#cocktailName {
    text-align: center;
}

